@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer-hour {
    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.container-slide {
    padding-top: 25px;
    padding-bottom: 10px;

    padding-left: 30px;
    padding-right: 30px;
}

.text-head-slide {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 5em;
    margin-left: 1em;
}

/**
 * Circle Styles
 */

.res-circle {
    width: 50%;
    border-radius: 50%;
    line-height: 0;
    background: #304ffe;
    /* NECESSARY FOR TEXT */
    position: relative;
}

.res-circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.circle-txt {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    text-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.color-blue-text {
    color: #304ffe;
}

.direction-bus {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

.time1 {
    color: #304ffe;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    margin-right: 30px;
}

.time2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 60px;
}

.ligne_bus {
    margin-bottom: 30px;
}

figure{
    display:block;
    width:150px;
    height: 150px;
    border-radius: 50px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #ff6b6b;
    line-height: 1.7em;
}

figure img{
    display:inline-block;
    width: 150px;
    height: auto;
}

.foodtruck_name
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.4em;
    color:#ff6b6b;
}

.foodtruck_category
{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 2.3em;
    color:#2e2d2c;
}

.foodtruck_phone
{
    font-family: 'Roboto', sans-serif;
    font-size: 2.3em;
}

.horoscope
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.9em;
}

.lboard_wrap {
    background: #ffd300;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.lboard_wrap .lboard_item {
    padding: 25px;
}

.lboard_wrap .lboard_mem {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ffe773;
}

.lboard_wrap .lboard_mem:first-child {
    padding-top: 0;
}

.lboard_wrap .lboard_mem:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.lboard_wrap .lboard_mem .img {
    width: 50px;
}

.lboard_wrap .lboard_mem img {
    display: block;
    width: 100%;
}

.lboard_wrap .lboard_mem .name_bar {
    margin: 0 20px;
    width: calc(100% - 150px);
}

.lboard_wrap .lboard_mem .name_bar p {
    color: #3a3d51;
}

.lboard_wrap .lboard_mem .name_bar p span {
    margin-right: 5px;
}

.lboard_wrap .lboard_mem .points {
    width: 100px;
    color: #3a3d51;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap {
    width: 100%;
    height: 5px;
    background: #d5b000;
    margin-top: 5px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap .inner_bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.rank{
    background-color: black;
}

.points {
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    white-space: nowrap;
    display: block;
    text-align: center;
}

.points_inline{
    display: block;
}

.point-bg{
    background-color: #049be5;
}