:root {
    --background-color-light: #f0f0f0;
    --text-color-light: #333;
    --background-color-dark: #333;
    --text-color-dark: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

main {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.horoscopes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.horoscope-item {
    width: 30%; /* 3 éléments par ligne avec espacement */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body.dark-mode .horoscope-item {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body.dark-mode main {
    background-color: var(--background-color-dark);
}

/* Styles pour le bouton de basculement */
.floating-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.floating-button:hover {
    background-color: #555;
}

body.dark-mode .floating-button {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
}

body.dark-mode .floating-button:hover {
    background-color: #f0f0f0;
}